html, body {
    margin: 0;
    padding: 0;
    background-color: #FFF;
    font-family: 'Courier';
    font-size: 24pt;
    line-height: 20pt;
}

canvas {
    display: block;
}

#asciiOutput {
    margin: 0;
    padding: 0;
    white-space: pre;
    overflow: hidden;
    font-family: 'Courier New', Courier, monospace;
}

pre {
    background-color: #000;
}